Repository w3di/n-kolmykov-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

style(header): enhance header actions layout and mobile menu button styles
  eslint.config.mjs
  generate-icons.js
  public/svg/icons/bezier-curve.svg
  public/svg/icons/binary.svg
  public/svg/icons/burger-menu.svg
  public/svg/icons/code-block.svg
  public/svg/icons/code-simple.svg
  public/svg/icons/fingerprint.svg
  public/svg/icons/flow-arrow.svg
  public/svg/icons/git-branch.svg
  public/svg/icons/git-commit.svg
  public/svg/icons/hash.svg
  public/svg/icons/spore.svg
  src/features/quiz/quiz-page.tsx
  src/features/quiz/ui/content/content.module.scss
  src/features/quiz/ui/content/index.tsx
  src/features/quiz/ui/finished/finished.module.scss
  src/features/quiz/ui/finished/index.tsx
  src/features/quiz/ui/index.ts
  src/features/quiz/ui/stepper/index.tsx
  src/features/quiz/ui/stepper/stepper.module.scss
  src/shared/ui/kit/icon/index.tsx
  src/shared/ui/layout/header/header.module.scss
  src/shared/ui/sections/my-skills/my-skills.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

feat: Updating images in the project and improving Quiz styles
  README.md
  app/layout.tsx
  public/images/codeshow.png
  public/images/codeshow.webp
  public/images/line_to_pull.png
  public/images/line_to_pull.webp
  public/images/my-photo.jpeg
  public/images/my-photo.webp
  public/images/myLogo.png
  public/images/myLogo.webp
  public/images/pull_50.png
  public/images/pull_50.webp
  public/images/pull_90.png
  public/images/pull_90.webp
  public/images/show_code_1024.png
  public/images/show_code_1024.webp
  public/images/show_code_1920.png
  public/images/show_code_1920.webp
  public/images/show_code_360.png
  public/images/show_code_360.webp
  src/features/quiz/ui/sidebar/index.tsx
  src/shared/ui/layout/footer/index.tsx
  src/shared/ui/sections/hero/hero.module.scss
  src/shared/ui/sections/hi-its-me/index.tsx
  src/shared/ui/sections/pull/index.tsx
  src/shared/ui/sections/quiz/index.tsx
  src/shared/ui/sections/quiz/quiz.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Feat (Quiz): Refectoring the quiz page and adding a new component Currentquesistion
  src/features/quiz/quiz-page.tsx
  src/features/quiz/ui/current-question/current-question.module.scss
  src/features/quiz/ui/current-question/index.tsx
  src/features/quiz/ui/current-question/ui/answer-accordion/answer-accordion.module.scss
  src/features/quiz/ui/current-question/ui/answer-accordion/index.tsx
  src/features/quiz/ui/current-question/ui/index.ts
  src/features/quiz/ui/index.ts
  src/features/quiz/ui/sidebar/index.tsx
  src/features/quiz/ui/sidebar/ui/question-history-accordion/index.tsx
  src/features/quiz/ui/sidebar/ui/question-types-accordion/index.tsx
  src/features/quiz/widgets/content/index.tsx
  src/features/quiz/widgets/index.ts
  src/shared/ui/@ui/quiz-section-wrapper.tsx
  src/shared/ui/sections/contact-me/index.tsx
  src/shared/ui/sections/contact-me/ui/lottie-link/index.tsx
  src/shared/ui/sections/contact-me/ui/lottie-link/lottie-link.module.scss
  src/shared/ui/sections/quiz/index.tsx
  src/shared/ui/sections/quiz/quiz.module.scss
  src/shared/ui/sections/quiz/ui/quiz-section-wrapper/quiz-section-wrapper.module.scss
  src/shared/ui/sections/quiz/ui/quiz-section-wrapper/quiz-section-wrapper.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Feat (Quiz): Adding a 'Use Client' directive to the STEPPER component to support client rendering
  src/features/quiz/ui/stepper/index.tsx
Due: prettier --write, eslint --fix

fixes
  src/features/quiz/quiz-page.tsx
  src/features/quiz/ui/current-question/index.tsx
  src/features/quiz/ui/information/index.tsx
Due: prettier --write, eslint --fix

feat: Add Dockerfile for assembling and starting the application on node.js
  Dockerfile
Due: none

update dcokerfile
  Dockerfile
Due: none

update dockerfile
  Dockerfile
Due: none

test ci/cd
  .github/workflows/deploy.yml
Due: none

update ci/cd
  .github/workflows/deploy.yml
  Dockerfile
Due: none

fix ci/cd
  .github/workflows/deploy.yml
Due: none

test
  src/shared/ui/sections/hero/index.tsx
Due: prettier --write, eslint --fix

test auto-deploy
  src/shared/ui/sections/hero/index.tsx
Due: prettier --write, eslint --fix

add metatags
  README.md
  app/about-me/page.tsx
  app/favicon.ico
  app/layout.tsx
  app/page.tsx
  app/quiz/page.tsx
  public/react.json
Due: prettier --write, eslint --fix

Added encirclement variables for the URL site in Dockerfile and Github Actions, as well as Robots.TS and Sitemap.TS files for generating Robots.txt and Sitemap.xml using a variable environment.
  .github/workflows/deploy.yml
  Dockerfile
  app/robots.ts
  app/sitemap.ts
Due: prettier --write, eslint --fix

refactor(quiz): streamline state/hooks; refresh stepper & accordion UI
  src/features/quiz/api/index.ts
  src/features/quiz/api/mock-data.ts
  src/features/quiz/model/quiz-context.tsx
  src/features/quiz/model/use-question-types.tsx
  src/features/quiz/model/use-quiz-data.tsx
  src/features/quiz/model/use-quiz-stats.ts
  src/features/quiz/quiz-page.tsx
  src/features/quiz/qustionsType.ts
  src/features/quiz/ui/current-question/ui/answer-accordion/index.tsx
  src/features/quiz/ui/stepper/index.tsx
  src/features/quiz/ui/stepper/stepper.module.scss
  src/shared/ui/layout/header/header.module.scss
  src/shared/ui/sections/hero/hero.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

Feat (Animated-city): Add animation of the appearance of Canvas
  src/shared/ui/sections/hero/ui/animated-grid/anumated-grid.module.scss
  src/shared/ui/sections/hero/ui/animated-grid/index.tsx
  src/shared/ui/sections/hi-its-me/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fixes
  src/features/quiz/model/quiz-context.tsx
Due: prettier --write, eslint --fix

fix
  src/features/quiz/ui/finished/index.tsx
Due: prettier --write, eslint --fix

update react.json
  public/react.json
Due: prettier --write

Updated icons: the colors of circles and lines are changed in the Cross-gray- Circle.svg and Index.TSX files to improve visual perception.
  public/svg/icons/cross-gray-circle.svg
  src/shared/ui/kit/icon/index.tsx
Due: prettier --write, eslint --fix

Links to LinkedIn in Readme.md and in components of Socials-list and Contact-Me are updated. Fixed error in the URL profile.
  README.md
  src/shared/ui/kit/socials-list/index.tsx
  src/shared/ui/sections/contact-me/index.tsx
Due: prettier --write, eslint --fix

update readme file
  README.md
Due: prettier --write

update jsons
  public/JavaScript.json
  public/NextJs.json
  public/React_new.json
  public/Sass.json
  public/Typescript.json
  public/UtilityTypes.json
  src/components/api/index.ts
  src/components/sections/quiz/current-question/index.tsx
  src/components/sections/quiz/current-question/ui/answer-accordion/answer-accordion.module.scss
  src/components/sections/quiz/current-question/ui/answer-accordion/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

update seo icons
  app/apple-icon.png
  app/favicon.ico
  app/icon.png
  app/layout.tsx
  app/opengraph-image.alt.txt
  app/opengraph-image.png
  app/twitter-image.alt.txt
  app/twitter-image.png
  public/manifest.json
Due: prettier --write, eslint --fix

update seo
  app/layout.tsx
  src/components/base/index.tsx
  src/components/base/structured-data/index.tsx
  src/components/base/structured-data/structured-data.types.ts
Due: prettier --write, eslint --fix

update meta
  app/about-me/page.tsx
  app/page.tsx
  app/quiz/page.tsx
Due: prettier --write, eslint --fix

update cursor icons and Next.js json file
  public/NextJs.json
  public/images/ariana_cursor.webp
  public/images/nikolay_cursor.webp
  public/svg/ariana_cursor.svg
  public/svg/nikolay_cursor.svg
  src/components/sections/about/hi-its-me/index.tsx
Due: prettier --write, eslint --fix

update aria-label
  src/components/base/socials-list/index.tsx
  src/components/layout/header/index.tsx
  src/components/sections/quiz/sidebar/index.tsx
Due: prettier --write, eslint --fix

update manifest
  app/layout.tsx
  app/manifest.ts
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/manifest.json
Due: prettier --write, eslint --fix

update packages
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade to Next.js 16 beta with React Compiler
  next.config.ts
  package-lock.json
  package.json
  src/components/base/accordion/accordion.module.scss
  src/components/base/button/button.module.scss
  src/components/base/separator/separator.module.scss
  src/components/base/socials-list/socials-list.module.scss
  src/components/base/tag/tag.module.scss
  src/components/layout/footer/footer.module.scss
  src/components/layout/header/header.module.scss
  src/components/pages/about-me/about-me.module.scss
  src/components/pages/home/home.module.scss
  src/components/pages/quiz/quiz.module.scss
  src/components/sections/about/about-me/about-me.module.scss
  src/components/sections/about/contact-me/contact-me.module.scss
  src/components/sections/about/contact-me/ui/lottie-link/lottie-link.module.scss
  src/components/sections/about/hi-its-me/hi-its-me.module.scss
  src/components/sections/about/hi-its-me/index.tsx
  src/components/sections/about/my-skills/my-skills.module.scss
  src/components/sections/about/my-stack/my-stack.module.scss
  src/components/sections/home/code-examples/code-examples.module.scss
  src/components/sections/home/hero/hero.module.scss
  src/components/sections/home/hero/ui/animated-grid/anumated-grid.module.scss
  src/components/sections/home/pull/index.tsx
  src/components/sections/home/pull/pull.module.scss
  src/components/sections/home/quiz/index.tsx
  src/components/sections/home/quiz/quiz.module.scss
  src/components/sections/home/quiz/ui/quiz-section-wrapper/quiz-section-wrapper.module.scss
  src/components/sections/home/stats/stats.module.scss
  src/components/sections/quiz/current-question/current-question.module.scss
  src/components/sections/quiz/current-question/ui/answer-accordion/answer-accordion.module.scss
  src/components/sections/quiz/finished/finished.module.scss
  src/components/sections/quiz/information/information.module.scss
  src/components/sections/quiz/sidebar/sidebar.module.scss
  src/components/sections/quiz/sidebar/ui/question-history-accordion/question-history-accordion.module.scss
  src/components/sections/quiz/sidebar/ui/question-types-accordion/question-types-accordion.module.scss
  src/components/sections/quiz/stepper/stepper.module.scss
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
