Repository w3di/n-kolmykov-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,css,scss}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

fix
  src/components/context/quiz/use-question-types.tsx
Due: prettier --write, eslint --fix

fix
  src/components/sections/about/hi-its-me/index.tsx
Due: prettier --write, eslint --fix

update next 16.0 + add html questions
  eslint.config.mjs
  package-lock.json
  package.json
  public/HTML.json
  src/components/api/index.ts
Due: prettier --write, eslint --fix

fix localstorage saving
  src/components/context/quiz/use-question-types.tsx
Due: prettier --write, eslint --fix

remove outdated React questions from React_new.json to streamline content and improve relevance
  public/React_new.json
Due: prettier --write

refactor: clean up answers in React_new.json for clarity and consistency
  public/React_new.json
Due: prettier --write

feat: replace outdated React_new.json with new-react.json for improved content
  public/React_new.json
  public/new-react.json
  src/components/api/index.ts
  src/components/sections/home/hero/ui/animated-grid/anumated-grid.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor: standardize answers in new-react.json for improved clarity and consistency
  public/new-react.json
Due: prettier --write

chore: update dependencies and improve ESLint configuration
  package-lock.json
  package.json
  src/components/sections/quiz/information/index.tsx
Due: prettier --write, eslint --fix

chore: update package-lock.json for dependency adjustments
  package-lock.json
Due: prettier --write

chore: update dependencies to latest versions for improved stability
  package-lock.json
  package.json
Due: prettier --write

feat: add design patterns knowledge section (42 questions)
  src/data/knowledge/design-patterns.json
  src/entities/question/question.server.ts
Due: prettier --write, eslint --fix

fix: register design-patterns in question.actions.ts
  src/entities/question/question.actions.ts
Due: prettier --write, eslint --fix

fix: arrow icons, header nav wrap, progress bar stats layout
  src/components/base/icon/index.tsx
  src/components/layout/header/ui/header-nav.module.scss
  src/components/sections/knowledge/progress-bar/progress-bar.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

fix: reduce header nav font size and padding on mobile
  src/components/layout/header/header.module.scss
  src/components/layout/header/ui/header-nav.module.scss
Due: prettier --write, stylelint --fix
